*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: #cbcf6f;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 221, 221);
    padding: 2.5px;
    align-items: center;
}

.logo{
    width: 90px;
    height: 90px;
    padding: 2.5px;
    filter: invert(95%) sepia(17%) saturate(1073%) hue-rotate(4deg) brightness(85%) contrast(91%);
}

.logo_red{
    width: 90px;
    height: 90px;
    padding: 2.5px;
    filter: invert(49%) sepia(73%) saturate(6100%) hue-rotate(336deg) brightness(104%) contrast(103%);}

.logo_blue{
    width: 90px;
    height: 90px;
    padding: 2.5px;
    filter: invert(37%) sepia(100%) saturate(992%) hue-rotate(151deg) brightness(95%) contrast(102%);
}

.lista{
    display: flex;
    justify-content: space-between;
    padding: 2.5px;
    list-style: none;
    margin-left: 10px;
}

.navbar h1{
    font-size: 2.2rem;
    text-align:center;
    margin: 10px;
}

.navbar_li a {
    text-decoration: none;
    padding: 0.5em;
    color: black;
    font-weight: 800;
    cursor: pointer;
}

label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 35px;
    min-width: 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    font-size: 1.5rem;
    margin: 0 10px;
}

/* eliminamos el checkbox */
.checkbox {
   display: none;
}

/* Hacemos la app responsibe */
@media screen and (min-width: 546px) {
    label {
        display: none;
    }
    .lista{
        display: flex;
        justify-content: space-between;
        padding: 2.5px;
        text-decoration: none;
        padding: 0.5em; 
    }
}
/* Responsibe */
@media screen and (max-width: 545px) {
    /* Ocultar la lista */
    .navbar h1{
        font-size: 1.8rem;
    }
    .lista {
        display: none;
    }
    /* Mostrar la lista cuando el menú desplegable está activo */      
    #menu:checked ~ .contenedor_lista .lista{
        position: relative;
        display: flex;
        flex-direction: column;
      }
    #menu:checked ~ .lista{
          width: 100px;
          height: 150px;
          background-color: wheat;
          transform: translate(-70px, 150px);
      }
    #menu:checked ~ .navbar h1{
        font-size: 1.2rem;
    }   
    /* .logo{
        width: 90px;
        height: 90px;
        padding: 2.5px;
        filter: invert(95%) sepia(17%) saturate(1073%) hue-rotate(4deg) brightness(85%) contrast(91%);
    } */
}

.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 200px;
    background-image: url("../top-view-fresh-vegetables-red-tomatoes-cucumbers-squashes-with-greens-grey-surface.jpg") ;
    background-size:cover;
}
.buscador input{
    margin-left: 8px;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    width: 200px;
    height: 2.5rem;
    font-weight: 800;
}

.buscador #boton_busqueda{
    margin-left: 25px;
    margin-right: 8px;
    padding: 5px 15px;
    border-radius: 8px;
    height: 2.5rem;
    font-weight: 800;
}

.buscador #boton_busqueda:hover{
    cursor: pointer;
    background-color: white;
}

.nosotros{
    font-size: 1.2rem;
    display: block;
    margin: auto;
    width: 85vw;
    height: 100vw;
}

.nosotros h1{
    padding: 15px;
}

.contenedor_nosotros_parrafos{
    padding: 15px;
    text-align: justify;
}

.contenedor_nosotros_lista{
    padding: 15px;
    text-align: justify;
}

.contenedor_nosotros_lista p{
    padding-bottom: 15px;
    
}

.nosotros_lista{
    list-style-type: decimal;
    padding-left: 30px;
}

.none{
    display: none;
}

.recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 85vw;
    width: 75%;
}

.recetas_fav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 85vw;
    width: 75%;
}

.p_resultado{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 12px 0px;
    
}

.p_resultado{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 12px 0px;
    
}

.contenedor_recetas{
    padding-bottom: 50px;
}

.contenedorReceta{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
}

.contenedor1 {
    margin: 15px 0px 0px 0px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(221, 221, 221);
}

.contenedor1_1{
    display: flex;
}

.contenedor1_1 .salud{
    padding: 10px;
    font-size: 0.75rem;
}   

.nombre{
    display: flex;
    flex-direction: column wrap;
}

.nombre{
    font-size: 1.2rem;
}

.foto{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid rgb(221, 221, 221);;
    margin: 10px;
    padding: 2px;
}

.contenedor2{
    display: flex;
    /* justify-content: center; */
    background-color: white;
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    
}
.contenedorReceta .contenedor2 .macList{
    width: 33%;
    padding: 15px;
    display: block;
    padding-left: 30px;
}

.contenedor2 ul li{
    display: flex;
    justify-content:left;
}

.divalergias{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diviconos{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diviconos .huella{
    display: block;
    text-align: center;
    width: 100%;
    height: 34%;
    padding: 5px;
}

.contenedor_span_huella{
    display: flex;
    height: 33%;
    padding: 5px;
}

.punto_verde{
    display: block;
    text-align: center;
    width: 100%;
    height: 34%;
    padding: 5px;
    color: rgb(11, 177, 11);
}

.punto_amarillo{
    display: block;
    text-align: center;
    width: 100%;
    height: 34%;
    padding: 5px;
    color: rgb(231, 228, 14);
}

.punto_rojo{
    display: block;
    text-align: center;
    width: 100%;
    height: 34%;
    padding: 5px;
    color: rgb(240, 2, 2);
}

.botonFavoritos{
    margin: 5px;
    height: 33%;
    width: 40%;
    align-self: center;
    font-size: 1.5rem;
}

.botonFavoritosRed{
    margin: 5px;
    height: 33%;
    width: 40%;
    align-self: center;
    font-size: 1.5rem;
    color:red
}

.masInfo{
    margin: 5px;
    height: 33%;
    width: 40%;
    align-self: center;
    font-size: 1.5rem;
}












.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 5;
    background-color: rgb(221, 221, 221);;
    height: 5vw;
    width: 100vw;
    margin-top: 25px;
    padding: 0px 50px;
}

.footer ul{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}


